.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #607eaa;
  color: white;
}

a {
  all: unset;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-decoration: inherit;
  color: white;    
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 50px auto;

}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #eae3d2;}

table tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1c3879;
  color: white;
}

button {
  background-color: #1c3879; 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #607eaa;
}

.button-new {
  margin: 25px;
}

fieldset {
  width: 60%;
  padding: 12px 20px;
  margin: 8px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  border-radius: 5px;
  padding: 20px;
  margin: auto;
}

.current-details {
  border-bottom-style: inset;
  padding: 20px;
  margin: auto;
  width: 60%;
}

.filter-div {
  border-bottom-style: inset;
  padding: 20px;
  margin: auto;
  width: 60%;
}

label {
  margin: 10px; 
  font-size: 150%;
}

select {
  margin: 10px;
  font-size: 140%;
}

.btn-log {
  background-color: #B93160;
  
}

.btn-log:hover {
  background-color: #D75281;
}

.error {
  color: red;
  font-style: italic;
}